.tweetsheader {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid #471CA9;

    & h2 {
        font-size:32px;
        font-weight:200;
        color:#333;
    }
}
